*{
    margin: 0px;
    padding: 0px;
}
html{
    padding: 0px;
    margin: 0 auto;
    font-weight: 400;
}
body {
    margin: 0px auto;
    padding: 0px;
}
p {
    margin: 0px;
}
h1,h2,h3,h4, h5,h6{
    margin: 0px;
}
ul{
    padding: 0;
    margin: 0;
    list-style: none;
}
button:focus, input:focus, select:focus, textarea:focus{
    outline: none;
    -webkit-box-shadow: none;
            box-shadow: none;
}
button:focus-visible, input:focus-visible, select:focus-visible, textarea:focus-visible{
    outline: none;
    -webkit-box-shadow: none;
            box-shadow: none;
}
.navbar-toggler:focus {
    -webkit-box-shadow: none;
            box-shadow: none;
}
img{
    width:100%;
    display:block;
    height: auto;
}
a{
    text-decoration: none;
}
a:hover {
    text-decoration: none;
    color: transparent;
}
a, button{
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
}
._toggler {
    box-shadow: none !important;
    border: none !important;
}
._toggler.collapsed .navbar-toggler-icon {
    background-image: url("../img/header-r8-menu-ic.svg") !important;
    transition: 0.1s all ease-in-out;
    max-width: 18px;
}
._toggler .navbar-toggler-icon {
    background-image: url("../img/header-r8-menu-cross.svg") !important;
    transition: 0.1s all ease-in-out;
    max-width: 18px;
}
.dropdown-toggle::after {
    display: none;
}

/*header xono_v2 section*/
._header_xono_v2_wrapper {
    position: relative;
    padding: 10px 0;
    z-index: 1;
}
._header_xono_v2_wrapper::before {
    position: absolute;
    content: "";
    background-image: url("../img/header-shape.svg");
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    height: 100%;
    z-index: -1;
    top: 0;
    left: 0;
}
._header_xono_v2_logo {
    display: flex;
    align-items: center;
    justify-content: center;
}
._logo_img {
    max-width: 117px;
}
._header_xono_v2_navbar_ul {
    margin: 0 0 0 auto;
    align-items: center;
}
._header_xono_v2_navbar_li {
    margin-right: 48px;
}
._header_xono_v2_navbar_li:last-child {
   margin-right: 0;
}
._header_xono_v2_navbar_itm {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    color: #232020 !important;
    transition: .2s all ease-in-out;
}
._header_xono_v2_navbar_itm:hover {
    color: #BA2871 !important;
}
._header_xono_v2_navbar_r8_ul {
    align-items: center;
}
._header_xono_v2_navbar_r8_li {
    margin: 0 0 0 48px;
}
._header_xono_v2_navbar_r8_contact {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .2s all ease-in-out;
    width: 140px;
    height: 48px;
    background: #2D9198;
    border-radius: 8px;
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 16px;
    line-height: 1.2;
    color: #FFFFFF !important;
}
._header_xono_v2_navbar_r8_contact:hover {
    background: #BA2871
}

._header_xono_v2_cont_wrap {
    padding-top: 100px;
}
._header_xono_v2_cont_title {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 58px;
    line-height: 1.2;
    text-align: center;
    color: #232020;
    max-width: 72%;
    margin: 0 auto 22px;
}
._header_xono_v2_cont_feature_li_txt {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: #232020;
    display: flex;
    align-items: center;
}
._header_xono_v2_cont_feature_li_txt svg {
    margin: 0 8px 0 0;
}

._header_xono_v2_cont_feature {
    margin-bottom: 60px;
}
._header_xono_v2_cont_feature_ul {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 80%;
    margin: auto;
}
._header_xono_v2_cont_feature_li {
    margin: 0 24px 24px 0;
}
._header_xono_v2_cont_feature_li:last-child {
    margin: 0;
}

._header_xono_v2_cont_btns {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 54px;
}
._header_xono_v2_cont_btn1 {
    margin: 0 30px 0 0;
}
._header_xono_v2_cont_conatct_btn {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .2s all ease-in-out;
    width: 156px;
    height: 58px;
    background: #2D9198;
    border-radius: 8px;
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 16px;
    line-height: 1.2;
    color: #FFFFFF !important;
}
._header_xono_v2_cont_conatct_btn:hover {
    background: #BA2871
}

._header_xono_v2_cont_btn {
    background-color: transparent;
    border: 0;
    display: flex;
    align-items: center;
}
._header_xono_v2_cont_btn_span {
    background: rgba(186, 40, 113, 0.4);
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin: 0 10px 0 0;
}
._header_xono_v2_cont_btn_span1 {
    background: #BA2871;
    width: 34px;
    height: 34px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    animation: animationBtn .9s linear alternate infinite;
}
@keyframes animationBtn {
    from {
        transform: scale(.9);
    }
    to {
        transform: scale(1.08);
    }
}
._header_xono_v2_cont_btn_txt {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: #232020;
}
._header_xono_v2_bottm_img_tag {
    max-width: 1010px;
    margin: auto;
}

/* responsive css */
/* Desktop/Laptop */
@media only screen and (min-width: 1600px) {}
@media (max-width: 1399px) {
    
}
@media only screen and (max-width: 1199px) { 
    ._header_xono_v2_cont_title {
        max-width: 100%;
    }
    ._header_xono_v2_cont_feature_ul {
        max-width: 100%;
    }
}
/* Ipad pro */
@media only screen and (max-width: 991px) {
    ._header_xono_v2_cont_wrap {
        padding-top: 70px;
    }
    ._header_xono_v2_cont_title {
        font-size: 44px;
    }
    ._header_xono_v2_cont_feature_li {
        margin: 0 0 20px 0;
    }
    ._header_xono_v2_navbar_li {
        margin: 0 0 10px;
    }
    ._header_xono_v2_navbar_r8_li {
        margin: 0;
    }
}
/* Ipad/Mobile L */
@media only screen and (max-width: 767px) {
    ._header_xono_v2_cont_title {
        font-size: 34px;
    }
}
/* Mobile */
@media only screen and (max-width: 575px) {
    ._header_xono_v2_cont_feature_li_txt {
        font-size: 18px;
    }
}
@media only screen and (max-width: 420px) {
    ._header_xono_v2_cont_btn1 {
        margin: 0 20px 0 0;
    }
    ._header_xono_v2_cont_conatct_btn {
        width: 134px;
        height: 50px;
    }
    ._header_xono_v2_cont_title {
        font-size: 26px;
    }
    ._header_xono_v2_cont_feature_li_txt {
        font-size: 16px;
    }
}
@media only screen and (max-width: 375px) {
    ._header_xono_v2_cont_feature_li_txt {
        font-size: 14px;
    }
    ._header_xono_v2_cont_btns {
        flex-direction: column;
    }
    ._header_xono_v2_cont_btn1 {
        margin: 0 0 20px;
    }
    ._header_xono_v2_cont_conatct_btn {
        width: 130px;
        height: 46px;
    }
}
/*header xono_v2 section end*/

/*statistics xono_v2 section*/
._statistics_xono_v2_wrapper  {
    padding-top: 120px;
}
._statistics_xono_v2_heading_txt {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 48px;
    line-height: 1.2;
    text-align: center;
    color: #232020;
    margin: 0 auto 20px;
}
._statistics_xono_v2_heading_txt span {
    display: block;
}

._statistics_xono_v2_card_wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
._statistics_xono_v2_card {
    background: #EBF7F8;
    border-radius: 24px;
    padding: 30px 24px 26px;
    margin: 14px 0;
    width: 240px;
}
._statistics_xono_v2_card_heading {
    font-family: 'Roboto';
    font-weight: 600;
    font-size: 42px;
    line-height: 1.2;
    text-align: center;
    color: #BA2871;
    margin-bottom: 10px;
}
._statistics_xono_v2_card_para {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 16px;
    line-height: 1.4;
    text-align: center;
    color: #232020;
    min-height: 112px;
}

/* responsive css */
/* Desktop/Laptop */
@media only screen and (min-width: 1600px) {}
@media (max-width: 1399px) {
    ._statistics_xono_v2_card {
        padding: 30px 12px 26px;
        width: 208px;
    }
}
@media only screen and (max-width: 1199px) { 
    ._statistics_xono_v2_wrapper {
        padding-top: 80px;
    }
    ._statistics_xono_v2_card_heading {
        font-size: 36px;
    }
    ._statistics_xono_v2_card_para {
        font-size: 15px;
        min-height: 127px;
    }
    ._statistics_xono_v2_card_wrap {
        justify-content: center;
    }
    ._statistics_xono_v2_card {
        margin: 14px 10px 14px;
    }
}
/* Ipad pro */
@media only screen and (max-width: 991px) {
    ._statistics_xono_v2_heading_txt {
        font-size: 32px;
    }
}
/* Ipad/Mobile L */
@media only screen and (max-width: 767px) {
    
}
/* Mobile */
@media only screen and (max-width: 575px) {
    ._statistics_xono_v2_heading_txt {
        font-size: 28px;
    }
    ._statistics_xono_v2_wrapper {
        padding-top: 60px;
    }
}
@media only screen and (max-width: 420px) {
    ._statistics_xono_v2_card {
        width: 260px;
    }
    ._statistics_xono_v2_card_para {
        min-height: 90px;
    }
}
@media only screen and (max-width: 375px) {}
/*statistics xono_v2 section end*/

/*service xono_v2 section*/
._service_xono_v2_wrapper  {
    padding-top: 120px;
}
._service_xono_v2_heading_txt {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 48px;
    line-height: 1.2;
    text-align: center;
    color: #232020;
    margin-bottom: 66px;
}

._service_xono_v2_left_ic {
    margin-bottom: 15px;
}
._service_xono_v2_left_ic img {
    width: 32px;
    animation: animationic .9s linear alternate infinite;
}
@keyframes animationic {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(4px);
    }
}
._service_xono_v2_left_txt1 {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 32px;
    line-height: 1.2;
    color: #232020;
    max-width: 60%;
    margin-bottom: 24px;
}
._service_xono_v2_left_txt2 {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: rgba(35, 32, 32, 0.8);
    max-width: 85%;
}

._service_xono_v2_part1_wrap, ._service_xono_v2_part2_wrap {
    margin-top: 100px;
}
/* responsive css */
/* Desktop/Laptop */
@media only screen and (min-width: 1600px) {}
@media (max-width: 1399px) {
    ._service_xono_v2_left_txt1 {
        max-width: 70%;
    }
}
@media only screen and (max-width: 1199px) { 
    ._service_xono_v2_left_txt1 {
        max-width: 88%;
        font-size: 28px;
    }
    ._service_xono_v2_left_txt2 {
        max-width: 100%;
    }
}
/* Ipad pro */
@media only screen and (max-width: 991px) {
    ._service_xono_v2_wrapper {
        padding-top: 80px;
    }
    ._service_xono_v2_heading_txt {
        font-size: 32px;
        margin-bottom: 48px;
    }
    ._service_xono_v2_left {
        margin-bottom: 40px;
    }
    ._service_xono_v2_left_txt1 {
        max-width: 100%;
        font-size: 24px;
    }
    ._service_xono_v2_part1_wrap, ._service_xono_v2_part2_wrap {
        margin-top: 60px;
    }
}
/* Ipad/Mobile L */
@media only screen and (max-width: 767px) {
    
}
/* Mobile */
@media only screen and (max-width: 575px) {
    ._service_xono_v2_heading_txt {
        font-size: 28px;
    }
    ._service_xono_v2_left_txt1 {
        font-size: 22px;
        margin-bottom: 16px;
    }
    ._service_xono_v2_left {
        margin-bottom: 24px;
    }
    ._service_xono_v2_wrapper {
        padding-top: 60px;
    }
}
@media only screen and (max-width: 420px) {
    
}
@media only screen and (max-width: 375px) {}
/*service xono_v2 section end*/

/*organisation xono_v2 section*/
._organisation_xono_v2_wrapper  {
    padding-top: 120px;
}
._organisation_xono_v2_heading_txt {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 48px;
    line-height: 1.2;
    text-align: center;
    color: #232020;
    margin: 0 auto 33px;
    max-width: 70%;
}

._organisation_xono_v2_icons_wrap {
    margin-bottom: 44px;
}
._organisation_xono_v2_icons {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
._organisation_xono_v2_icon {
    margin-right: 60px;
}
._organisation_xono_v2_icon:last-child {
    margin-right: 0
}
._organisation_xono_v2_icon_tag {
    width: 120px;
    max-width: 105px;
    object-fit: cover;
}

._organisation_xono_v2_contact_btn {
    display: flex;
    align-items: center;
    justify-content: center;
}
._organisation_xono_v2_contact {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .2s all ease-in-out;
    width: 140px;
    height: 48px;
    background: #2D9198;
    border-radius: 8px;
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 16px;
    line-height: 1.2;
    color: #FFFFFF !important;
}
._organisation_xono_v2_contact:hover {
    background: #BA2871
}
/* responsive css */
/* Desktop/Laptop */
@media only screen and (min-width: 1600px) {}
@media (max-width: 1399px) {
    
}
@media only screen and (max-width: 1199px) { 
    ._organisation_xono_v2_heading_txt {
        font-size: 42px;
        max-width: 84%;
    }
}
/* Ipad pro */
@media only screen and (max-width: 991px) {
    ._organisation_xono_v2_wrapper {
        padding-top: 90px;
    }
    ._organisation_xono_v2_heading_txt {
        font-size: 32px;
        max-width: 100%;
    }
    ._organisation_xono_v2_icon {
        margin: 0 20px 10px;
    }
}
/* Ipad/Mobile L */
@media only screen and (max-width: 767px) {
    
}
/* Mobile */
@media only screen and (max-width: 575px) {
    ._organisation_xono_v2_wrapper {
        padding-top: 60px;
    }
    ._organisation_xono_v2_heading_txt {
        font-size: 28px;
    }
}
@media only screen and (max-width: 420px) {
    ._organisation_xono_v2_heading_txt {
        font-size: 25px;
    }
    ._organisation_xono_v2_contact {
        width: 134px;
        height: 50px;
    }
}
@media only screen and (max-width: 375px) {}
/*organisation xono_v2 section end*/

/*pricing xono_v2 section */
._pricing_xono_v2_wrapper  {
    background: #282B2F;
    padding: 66px 0 92px;
    margin-top: 120px;
}
._pricing_xono_v2_heading_txt {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 48px;
    line-height: 1.2;
    text-align: center;
    color: #fff;
    margin: 0 auto 88px;
    max-width: 50%;
}

._pricing_xono_v2_card {
    background-color: #33383B;
    border-radius: 24px;
    margin: 15px 0;
    padding: 20px 25px 30px ;
}
._pricing_xono_v2_card_ic_type {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
}
._pricing_xono_v2_card_type_icon img {
    max-width: 36px;
    animation: animationic1 .9s linear alternate infinite;
}
@keyframes animationic1 {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(4px);
    }
}
._pricing_xono_v2_card_type {
    width: 120px;
    height: 30px;
    background: #282B2F;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 0 40px auto;
}
._card_plus {
    background: #BA2871;
    margin: 0 !important;
}
._pricing_xono_v2_card_type_txt {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    text-align: center;
    color: #FFFFFF;
}

._pricing_xono_v2_card_feature {
    margin-bottom: 40px;
}
._pricing_xono_v2_card_feature_li {
    margin-bottom: 16px;
}
._pricing_xono_v2_card_feature_li:last-child {
    margin-bottom: 0;
}
._pricing_xono_v2_card_feature_li_span {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    color: #FFFFFF;
}
._pricing_xono_v2_card_feature_li_span svg {
    margin: 0 11px 0 0;
}

._pricing_xono_v2_card_btn {
    display: flex;
    align-items: center;
    justify-content: center;
}
._pricing_xono_v2_card_btn_tag {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .2s all ease-in-out;
    width: 145px;
    height: 47px;
    background: #2D9198;
    border-radius: 8px;
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 16px;
    line-height: 1.2;
    color: #FFFFFF !important;
}
._pricing_xono_v2_card_btn_tag:hover {
    background: #BA2871
}

/* responsive css */
/* Desktop/Laptop */
@media only screen and (min-width: 1600px) {}
@media (max-width: 1399px) {
    ._pricing_xono_v2_card_feature_li_span {
        font-size: 15px;
    }
}
@media only screen and (max-width: 1199px) { 
    ._pricing_xono_v2_card {
        padding: 20px 20px 28px;
    }
    ._pricing_xono_v2_card_feature_li_span svg {
        margin: 0 7px 0 0;
    }
    ._pricing_xono_v2_heading_txt {
        max-width: 70%;
    }
}
/* Ipad pro */
@media only screen and (max-width: 991px) {
    ._pricing_xono_v2_wrapper {
        margin-top: 90px;
    }
    ._pricing_xono_v2_heading_txt {
        max-width: 70%;
        font-size: 32px;
        margin: 0 auto 30px;
    }
}
/* Ipad/Mobile L */
@media only screen and (max-width: 767px) {
    ._pricing_xono_v2_wrapper {
        padding: 44px 0;
    }
    ._pricing_xono_v2_heading_txt {
        max-width: 100%;
    }
}
/* Mobile */
@media only screen and (max-width: 575px) {
    ._pricing_xono_v2_card_btn_tag {
        width: 134px;
        height: 50px;
    }
}
@media only screen and (max-width: 420px) {
    ._pricing_xono_v2_wrapper {
        margin-top: 60px;
    }
}
@media only screen and (max-width: 375px) {}
/*pricing xono_v2 section end*/

/*insights xono_v2 section*/
._insights_xono_v2_wrapper {
    padding: 260px 0 120px;
}
._insights_xono_v2_bg_wrap {
    background: #FFEDF6;
    border-radius: 40px;
}

._insights_xono_v2_left {
    padding: 0 0 0 55px;
}
._insights_xono_v2_left_txt {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 48px;
    line-height: 1.2;
    color: #232020;
    margin-bottom: 24px;
}
._insights_xono_v2_left_para {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 18px;
    line-height: 1.4;
    color: rgba(35, 32, 32, 0.8);
    max-width: 90%;
}

._insights_xono_v2_r8 {
    margin: -210px 0 0 0;
}

/* responsive css */
/* Desktop/Laptop */
@media only screen and (min-width: 1600px) {}
@media (max-width: 1399px) {
    ._insights_xono_v2_left_para {
        font-size: 17px;
        max-width: 100%;
    }
}
@media only screen and (max-width: 1199px) { 
    ._insights_xono_v2_left {
        padding: 0 0 0 40px;
    }
    ._insights_xono_v2_r8 {
        margin: -150px 0 0 0;
    }
    ._insights_xono_v2_wrapper {
        padding: 190px 0 100px;
    }
}
/* Ipad pro */
@media only screen and (max-width: 991px) {
    ._insights_xono_v2_wrapper {
        padding: 90px 0;
    }
    ._insights_xono_v2_r8 {
        margin: 0;
    }
    ._insights_xono_v2_left {
        padding: 30px 40px 0;
    }
    ._insights_xono_v2_left_txt {
        font-size: 35px;
        margin-bottom: 16px;
    }
}
/* Ipad/Mobile L */
@media only screen and (max-width: 767px) {
    
}
/* Mobile */
@media only screen and (max-width: 575px) {
    ._insights_xono_v2_wrapper {
        padding: 60px 0;
    }
}
@media only screen and (max-width: 420px) {
    ._insights_xono_v2_left_txt {
        font-size: 30px;
        margin-bottom: 12px;
    }
    ._insights_xono_v2_left {
        padding: 30px 22px 0;
    }
}
@media only screen and (max-width: 375px) {}
/*insights xono_v2 section end*/

/* responsive css */
/* Desktop/Laptop */
@media only screen and (min-width: 1600px) {}
@media (max-width: 1399px) {
    ._insights_xono_v2_left_para {
        font-size: 17px;
        max-width: 100%;
    }
}
@media only screen and (max-width: 1199px) { 
    ._insights_xono_v2_left {
        padding: 0 0 0 40px;
    }
    ._insights_xono_v2_r8 {
        margin: -150px 0 0 0;
    }
    ._insights_xono_v2_wrapper {
        padding: 190px 0 100px;
    }
}
/* Ipad pro */
@media only screen and (max-width: 991px) {
    ._insights_xono_v2_wrapper {
        padding: 90px 0;
    }
    ._insights_xono_v2_r8 {
        margin: 0;
    }
    ._insights_xono_v2_left {
        padding: 30px 40px 0;
    }
    ._insights_xono_v2_left_txt {
        font-size: 35px;
        margin-bottom: 16px;
    }
}
/* Ipad/Mobile L */
@media only screen and (max-width: 767px) {
    
}
/* Mobile */
@media only screen and (max-width: 575px) {
    ._insights_xono_v2_wrapper {
        padding: 60px 0;
    }
}
@media only screen and (max-width: 420px) {
    
}
@media only screen and (max-width: 375px) {}
/*insights xono_v2 section end*/

/*cta xono_v2 section*/
._cta_xono_v2_wrapper {
    padding: 60px 0;
}
._cta_xono_v2_bg_wrap {
    background: #EBF7F8;
    border-radius: 32px;
    padding: 38px 54px;
    position: relative;
    z-index: 1;
}
._cta_xono_v2_bg_wrap::before {
    position: absolute;
    content: "";
    background-image: url("../img/cta-left-before-vector.svg");
    background-repeat: no-repeat;
    background-size: cover;
    bottom: 0;
    left: 0;
    width: 240px;
    height: 360px;
    z-index: -1;
    border-radius: 32px;
}
._cta_xono_v2_bg_wrap::after {
    position: absolute;
    content: "";
    background-image: url("../img/cta-left-after-vector.svg");
    background-repeat: no-repeat;
    background-size: cover;
    bottom: 0;
    right: 0;
    width: 320px;
    height: 380px;
    z-index: -1;
    border-radius: 32px;
}

._cta_xono_v2_left_txt {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 48px;
    line-height: 1.2;
    color: #232020;
    margin-bottom: 16px;
}
._cta_xono_v2_left_para {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 18px;
    line-height: 1.4;
    color: rgba(35, 32, 32, 0.8);
    max-width: 82%;
    margin-bottom: 34px;
}

._cta_xono_v2_left_form {
    width: fit-content;
    position: relative;
}
._cta_xono_v2_left_form_inpt {
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    width: 398px;
    height: 60px;
    color: #000;
    padding: 0 140px 0 25px;
}
._cta_xono_v2_left_form_inpt::placeholder {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 16px;
    line-height: 1.2;
    color: rgba(35, 32, 32, 0.8);
}
._cta_xono_v2_left_form_btn {
    position: absolute;
    top: 11px;
    right: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .2s all ease-in-out;
    width: 117px;
    height: 38px;
    background: #2D9198;
    border-radius: 8px;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 12px;
    line-height: 1.2;
    color: #FFFFFF;
    border: 0;
}
._cta_xono_v2_left_form_btn:hover {
    background: #BA2871
}

/* responsive css */
/* Desktop/Laptop */
@media only screen and (min-width: 1600px) {}
@media (max-width: 1399px) {
   
}
@media only screen and (max-width: 1199px) { 
    
}
/* Ipad pro */
@media only screen and (max-width: 991px) {
    
}
/* Ipad/Mobile L */
@media only screen and (max-width: 767px) {
    
}
/* Mobile */
@media only screen and (max-width: 575px) {
    
}
@media only screen and (max-width: 420px) {
    
}
@media only screen and (max-width: 375px) {}
/*cta xono_v2 section end*/

/*footer xono_v2 section*/

/* responsive css */
/* Desktop/Laptop */
@media only screen and (min-width: 1600px) {}
@media (max-width: 1399px) {
   
}
@media only screen and (max-width: 1199px) { 
    
}
/* Ipad pro */
@media only screen and (max-width: 991px) {
    
}
/* Ipad/Mobile L */
@media only screen and (max-width: 767px) {
    
}
/* Mobile */
@media only screen and (max-width: 575px) {
    
}
@media only screen and (max-width: 420px) {
    
}
@media only screen and (max-width: 375px) {}
/*footer xono_v2 section end*/

/*------------------
    Variable 
------------------*/
:root {
    --color1: #fff;
    --bg1:#000;
}